* {
  box-sizing: border-box;
  margin: 0;
}
.top-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  background-color: rgb(255, 102, 0);
  align-items: center;
  background-image: url(./img/boolean-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  color: white;
}
ul {
  list-style: none;
  display: flex;
}
li {
  padding: 0px 2px;
}

.row {
  display: flex;
  gap: 1rem;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.product {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 15px;
  width: 32%;
  box-sizing: border-box;
}
.product img {
  max-width: 100%;
}
.product .card-hover {
  display: none;
}
.product:hover .card-hover {
  display: block;
}
.product .card-discount-badge {
  position: absolute;
  bottom: 100px;
  left: 20px;
  background-color: red;
  color: white;
  padding: 5px 5px;
}

.info {
  padding: 10px;
}

.price {
  font-weight: bold;
  color: #333;
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  background-color: black;
  color: white;
  padding: 10px 100px;
}
